<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ app_title }}{% endblock %}</title>
        <meta name="keywords" content="{{ app_keyword }}">
		<meta name="description" content="{{ app_description }}">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="author" content="{{ app_author }}">
        <!-- Facebook and Twitter integration -->
        <meta property="og:title" content="{{ app_title }}"/>
        <meta property="og:image" content="{{ asset('images/favicon-48.ico') }}"/>
        <meta property="og:url" content="{{ app_url }}"/>
        <meta property="og:site_name" content="{{ app_name }}"/>
        <meta property="og:description" content="{{ app_description }}"/>
        <meta name="twitter:title" content="{{ app_title}}" />
        <meta name="twitter:image" content="{{ asset('images/favicon-48.ico') }}" />
        <meta name="twitter:url" content="{{ app_url }}" />
        <meta name="twitter:card" content="{{ app_name }}" />

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	    <link rel="shortcut icon" href="{{ asset('images/favicon-512.ico') }}">
        <link rel="icon" href="{{ asset('images/favicon-16.ico') }}" sizes="16x16" />
        <link rel="icon" href="{{ asset('images/favicon-48.ico') }}" sizes="48x48" />
        <link rel="icon" href="{{ asset('images/favicon-512.ico') }}" sizes="512x512" />
        <link rel="icon" type="image/png" href="{{ asset('images/favicon-96.png') }}" sizes="96x96" />
        <link rel="apple-touch-icon-precomposed" href="{{ asset('images/favicon-96.ico') }}" sizes="96x96"/>
        <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
        <link rel="canonical" href="{{ asset('images/favicon-512.ico') }}" />

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet"/>
        {% block stylesheets %}
            <!-- CSS FILES -->
            {{ encore_entry_link_tags('app') }}
            <link href="{{ asset('vendor-css/flexslider.css') }}" rel="stylesheet" />
            <link rel="stylesheet" href="{{ asset('vendor-css/jquery.fancybox.css') }}"rel="stylesheet" />
            <link rel="stylesheet" href="{{ asset('vendor-css/font-icon.css') }}" rel="stylesheet" />
            <script src="{{ asset('js/sfinv_en.js') }}"></script>
            {{ encore_entry_link_tags('sfinv') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('sfinv') }}
        {% endblock %}
        <script>
            const current_year = "{{ 'now'|date('Y') }}";
            const img_path = "{{ asset('images') }}";
            const login_path = "{{ path('app_login') }}";
        </script>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
