{% extends 'dashboard/layout.html.twig' %}
{% block title %}Users -
	{{ parent() }}
{% endblock %}

{% block body_id 'users_page' %}
{% block body %}
    <!-- modal box -->
    <div class="modal fade" id="select_users_modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="select_users_modal" >
        <div class="modal-dialog modal-danger modal-dialog-centered" role="document">
            <div class="modal-content" id="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-title-notification">Your attention is required</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span >×</span>
                    </button>
                </div>
                <form action="{{ path('app_bulk_action') }}" method="post">
                    <div class="modal-body">
                        <div class="text-center">
                            <i class="fa fa-bell fa-3x text-warning bell-icon"></i>
                            <h4 class="heading margin-top-30">You should read this!</h4>
                            <input type="hidden" name="ids" value="" id="selected_users_id">
                            <input type="hidden" name="data_type" value="" id="selected_users_type">
                            <input type="hidden" name="data_for" value="" id="selected_users_for">
                            <p><span id="select_users_modal-msg"></span><span class="text-danger" id="select_delete"> This action can't be reversed.</span></p>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" id="select_users_modal-btn" class="btn btn-primary modal-submit-btn">Ok, Got it</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-notification" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modal-notification" >
        <div class="modal-dialog modal-danger modal-dialog-centered" role="document">
            <div class="modal-content" id="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-title-notification">Your attention is required</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span >×</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="text-center">
                        <i class="fa fa-bell fa-3x text-warning bell-icon"></i>
                        <h4 class="heading margin-top-30">You should read this!</h4>
                        <p><span id="modal-notification-msg"></span>,<span class="text-danger"> This action can't be reversed.</span></p>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" id="modal-notification-btn" class="btn btn-primary modal-submit-btn">Ok, Got it</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end modal box -->
    <!-- MAIN -->
    <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="container-fluid">
                <h3 class="page-title">Users</h3>
                <div class="row">
                    <div class="col-md-12">
                        <!-- BASIC TABLE -->
                        <div class="panel">
                            <div class="panel-heading">
                                <div class="panel-title" align="right">
                                    <span class="dropdown me-6">
                                        <button href="#" class="dropdown-toggle btn btn-info" id="bulk_btn" disabled="disabled" data-toggle="dropdown">
                                            <i class="fa fa-cog"></i> Bulk Action 
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#" class="status-item selected-action" data-for="users" data-type="approve" data-toggle="modal" data-target="#select_users_modal"><i class="fa fa-check"></i>Approve selected users</a></li>
                                            <li><a href="#" class="status-item selected-action" data-for="users" data-type="disapprove" data-toggle="modal" data-target="#select_users_modal"><i class="lnr lnr-cross"></i>Disapprove selected users</a></li>
                                            <li><a href="#" class="delete-item selected-action" data-for="users" data-type="delete" data-toggle="modal" data-target="#select_users_modal"><i class="lnr lnr lnr-trash"></i>Delete selected users</a></li>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                            <div class="panel-body">
                                {% if webUsers %}
                                    <table id="users_table" class="table table-striped table-bordered nowrap" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th><input type="checkbox" class="all_select" style="cursor:pointer;"></th>
                                                <th>Id</th>
                                                <th>Email</th>
                                                {# <th>Role</th> #}
                                                <th>Verified</th>
                                                <th>Approved</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for webUser in webUsers %}
                                                {% if "ROLE_ADMIN" not in webUser.roles %}
                                                <tr>
                                                    <td><input type="checkbox" class="select_items" name="ids[]" value="{{ webUser.id }}" style="cursor:pointer;"></td>
                                                    <td>{{ webUser.id }}</td>
                                                    <td>{{ webUser.email }}</td>
                                                    {# <td>{{ webUser.roles[0] }}</td> #}
                                                    <td>
                                                        {% if webUser.isVerified %}
                                                            <span class="label label-success">Email verified</span>
                                                        {% else %}
                                                            <span class="label label-warning">Email not verified</span>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {% if webUser.isApproved %}
                                                            <span class="status label label-success">Approved</span>
                                                        {% else %}
                                                            <span class="status label label-warning">Approval pending</span>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        <li class="dropdown">
                                                            <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                                                                <i class="fa fa-ellipsis-h fa-2x"></i>
                                                            </a>
                                                            <ul class="dropdown-menu notifications">
                                                                <li><a href="{{ path('app_users_status', {id: webUser.id}) }}" data-id="{{ webUser.id }}" class="status-item">{% if webUser.isApproved %}<i class="lnr lnr-cross"></i>Disapprove{% else %}<i class="fa fa-check"></i>Approve{% endif %}</a></li>
                                                                <li><a href="#" data-id="{{ webUser.id }}" class="delete-item list-action" data-for="user" data-type="delete" data-toggle="modal" data-target="#modal-notification"><i class="lnr lnr lnr-trash"></i>Delete</a></li>
                                                            </ul>
                                                        </li>
                                                    </td>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                {% else %}
                                    <h4 align="center">No user has been registered yet.</h4>
                                {% endif %}
                            </div>
                        </div>
                        <!-- END BASIC TABLE -->
                    </div>
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT -->
    </div>
    <!-- END MAIN -->
    <div class="clearfix"></div>
{% endblock %}